.searchbar {
  height: 2.875rem;
  border-bottom: 1px solid var(--color-gray-20);
  display: flex;
  background-color: var(--color-gray-10);
  padding: 0 0.875rem;
  column-gap: 0.625rem;
  line-height: 1;

  form {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;

    &::before {
      background-color: var(--color-gray-90);
      width: 1.25rem;
      height: 1.25rem;
      margin: 0;
      margin-right: 0.625rem;
      flex: none;
    }

    input {
      font-size: 0.9375rem;
      font-weight: 400;
      color: var(--color-gray-90);
    }
  }

  a {
    flex: none;
    width: 1.25rem;

    &:focus,
    &:hover {
      background-color: transparent;

      &::before {
        background-color: var(--color-gray-60);
      }
    }

    &::before {
      width: 1.25rem;
      height: 1.25rem;
      background-color: var(--color-gray-90);
    }
  }
}
