#layout-sidebar {
  #folderlist-content {
    background-color: rgba(203, 213, 225, 0.55);
  }

  .folderlist {
    li {
      a {
        color: var(--color-gray-90);

        &::before {
          background-color: var(--color-gray-90);
        }
      }
    }
  }
}

//responsive
@media screen and (max-width: 480.99px) {
}

@media screen and (max-width: 1024.99px) {
}
