#layout-list {
  table.listing {
    tr {
      &:hover {
        background-color: #cbd5e14d;
      }

      td {
        &.subject {
          padding-top: 0.625rem;
          padding-bottom: 0.625rem;
        }
      }
    }
  }

  &:not(.withselection) {
    tr {
      td.subject {
        border-left: 2px solid transparent;
      }

      &.selected {
        td.subject {
          border-left-color: var(--color-primary-50);
        }
      }
    }
  }
}

//res
@media screen and (max-width: 1200px) {
  #layout-list {
    .header {
      .menu.toolbar {
        display: none;
        visibility: hidden;

        .header-title {
          margin: 0 !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1024.99px) {
}

@media screen and (max-width: 480.99px) {
}
