#layout-list {
  table.listing {
    tr {
      transition: background-color 0.15s ease-in-out;

      &:hover {
        background-color: rgba(203, 213, 225, 0.27);
      }

      td {
        border: 0;
      }
    }

    &.withselection {
      tr {
        td {
          &.selection {
            border-left: 0;
            padding-left: 0.875rem;
            padding-right: 0.875rem;
            flex: none;
            width: calc(1rem + (0.875rem * 2));

            > input[type='checkbox'] {
              display: inline-block;
              width: 0.875rem;
              height: 0.875rem;
            }
          }

          &.subject {
            padding-left: 0;
          }
        }
      }
    }
  }

  table.messagelist {
    tr {
      td {
        border-bottom: 1px solid var(--color-gray-20);

        &.subject {
          padding-top: 0.625rem;
          padding-bottom: 0.625rem;
          padding-left: 1.25rem;

          span {
            line-height: 1.3;
          }

          .fromto {
            font-size: 0.75rem;
          }

          .date {
            font-size: 0.75rem;
          }

          .size {
            font-size: 0.75rem;
          }

          span.subject {
            line-height: 1.3;
            font-size: 0.9375rem;
            display: flex;
            align-items: center;
            margin-top: 6px;

            .status {
              flex: none;
              width: 1rem;
              height: 1rem;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 0.125rem;

              &::before {
                content: '';
                flex: none;
                display: block;
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
                background-color: var(--color-gray-70);
              }

              &.unread {
                &::before {
                  background-color: var(--color-primary-50);
                }
              }
            }

            > a {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }

        &.flags {
          flex: none;
          padding-right: 0.75rem;
          padding-left: 0.625rem;

          .flag {
            display: block;
            width: 1.125rem;
            height: 1.125rem;
            margin-bottom: 5px;
            position: relative;

            > span {
              width: 100%;
              height: 100%;
              display: block;

              &::before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                mask-repeat: no-repeat;
                mask-position: center;
                mask-size: contain;
                mask-image: url('https://api.iconify.design/solar:flag-outline.svg');
              }

              &.flagged {
                &::before {
                  background-color: var(--color-primary-50);
                  mask-image: url('https://api.iconify.design/solar:flag-bold.svg');
                }
              }

              &.unflagged {
                display: none;
                visibility: hidden;
                &::before {
                  background-color: var(--color-gray-70);
                }
              }
            }
          }

          > .attachment {
            display: block;
            width: 1.125rem;
            height: 1.125rem;
            margin-bottom: 1px;

            > .report {
              display: block;
              width: 100%;
              height: 100%;

              &::before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                mask-repeat: no-repeat;
                mask-position: center;
                mask-size: contain;
                mask-image: url('https://api.iconify.design/solar:file-text-outline.svg');
                background-color: var(--color-bluegray-50);
              }
            }

            > .attachment {
              display: block;
              width: 100%;
              height: 100%;

              &::before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                mask-repeat: no-repeat;
                mask-position: center;
                mask-size: contain;
                mask-image: url('https://api.iconify.design/solar:paperclip-outline.svg');
                background-color: var(--color-bluegray-50);
              }
            }
          }
        }
      }

      &:hover {
        td.flags {
          .flag {
            > span {
              &.unflagged {
                display: block;
                visibility: visible;

                &::before {
                  background-color: var(--color-gray-70);
                }
              }
            }
          }
        }
      }
    }

    &:not(.withselection) {
      tr {
        td.subject {
          border-left: 2px solid transparent;
        }

        &.selected {
          td.subject {
            border-left-color: var(--color-primary-50);
          }
        }
      }
    }

    tr.flagged {
      td span.fromto,
      td span.date,
      td span.size,
      td span.subject a {
        color: var(--color-primary-50);
      }
    }
  }

  table.contactlist,
  table.settings-default-icon {
    tr {
      &.selected {
        background-color: rgba(203, 213, 225, 0.45);
      }

      td.section {
        padding-left: 1rem;
        padding-right: 1rem;
      }

      td:not(.selection) {
        height: 2.875rem;
        border-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &::before {
          display: block;
          flex: none;
          width: 1.25rem;
          height: 1.25rem;
          mask-repeat: no-repeat;
          mask-position: center left;
          mask-size: contain;
          background-color: var(--color-gray-90);
        }

        &.name {
          padding-left: 1rem;
          padding-right: 1rem;

          &::before {
            content: '';
            mask-image: url('https://api.iconify.design/solar:user-circle-outline.svg');
          }
        }
      }
    }

    &.withselction {
      tr {
        > td.name {
          padding-left: 0;
        }
      }
    }
  }

  .pagenav {
    border-top: 1px solid var(--color-bluegray-30);
    padding: 0 0.625rem;

    a {
      width: 1.5rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: none;
      min-width: 0 !important;

      &::before {
        content: '';
        display: block;
        width: 1.125rem;
        height: 1.125rem;
        mask-repeat: no-repeat;
        mask-position: center left;
        mask-size: contain;
        background-color: var(--color-gray-40);
      }

      &.firstpage::before {
        mask-image: url('https://api.iconify.design/solar:double-alt-arrow-left-outline.svg');
      }
      &.prevpage::before {
        mask-image: url('https://api.iconify.design/solar:alt-arrow-left-outline.svg');
      }
      &.nextpage::before {
        mask-image: url('https://api.iconify.design/solar:alt-arrow-right-outline.svg');
      }
      &.lastpage::before {
        mask-image: url('https://api.iconify.design/solar:double-alt-arrow-right-outline.svg');
      }
    }

    .pagenav-text {
      color: var(--color-gray-60);
      font-weight: 500;
      font-size: 0.6875rem;
    }

    .form-control {
      display: none;
    }
  }

  //폴더목록
  ul.folderlist {
    li {
      border-bottom: none;

      &.selected > a {
        background-color: rgba(203, 213, 225, 0.45);
      }

      > a {
        border-left: none;
        padding-left: 1.25rem;
        padding-right: 2.5rem;
        display: flex;
        align-items: center;
        height: 2.875rem;

        &:hover {
          background-color: rgba(203, 213, 225, 0.27);
        }

        &::before {
          width: 1.25rem;
          height: 1.25rem;
          background-color: var(--color-gray-90);
        }
      }

      .custom-switch {
        position: absolute;
        top: 6px;
        right: 0.75rem;
        height: inherit;
      }
    }

    li div.treetoggle {
      width: 1.5rem;
      height: 2.875rem;
      position: absolute;
      top: 0;
      bottom: auto;
      left: auto;
      right: auto;
      //left: 4px;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0;

      &::before {
        content: '';
        flex: none;
        width: 0.875rem;
        height: 0.875rem;
        display: block;
        margin: 0;
        mask-repeat: no-repeat;
        mask-position: center left;
        mask-size: contain;
        mask-image: url('https://api.iconify.design/solar:alt-arrow-down-outline.svg');
        background-color: var(--color-gray-90);
        transition: all 0.15s ease-in-out;
      }

      &.expanded {
        &::before {
          transform: rotate(-180deg);
        }
      }
    }

    li {
      ul[role='group'] {
        border-top: none;
        background-color: rgb(245 245 245 / 0.6);

        > li {
          a {
            //padding-left: 1.5rem;

            &::before {
              background-color: var(--color-gray-90);
              mask-image: url('https://api.iconify.design/solar:letter-outline.svg');
            }
          }
        }
      }
    }

    li {
      > a {
        padding-left: 1.5rem;
      }

      > ul[role='group'] > li > a {
        padding-left: 2rem;
      }

      > ul[role='group'] > li > ul[role='group'] > li > a {
        padding-left: 2.5rem;
      }

      > ul[role='group'] > li > ul[role='group'] > li > ul[role='group'] > li > a {
        padding-left: 3rem;
      }
    }
  }

  //신원, 응답
  #identities-table,
  #responses-table,
  #filtersetslistbox,
  #filterslist,
  #keys-table {
    tr {
      td {
        height: 2.875rem;
        border-left: 0;
        border-bottom: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 0.9375rem;
        color: var(--color-gray-90);

        &::before {
          display: inline-block;
          flex: none;
          width: 1.25rem;
          height: 1.25rem;
          mask-repeat: no-repeat;
          mask-position: center;
          mask-size: contain;
          background-color: var(--color-gray-90);
          position: relative;
          top: 6px;
          margin-right: 0.5rem;
        }
      }
    }
  }

  //필터//메일분류
  .pagenav-list.menu {
    height: 2.875rem;
    display: flex;
    padding: 0 1rem !important;
    align-items: center;
    border: 0;
    border-bottom: 1px solid var(--color-gray-10);
    background-color: var(--color-white);

    a.collapse,
    a.expand {
      flex: none;
      width: 1.25rem;
      height: 1.25rem;
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        content: '';
        flex: none;
        width: 0.875rem;
        height: 0.875rem;
        display: block;
        margin: 0;
        mask-repeat: no-repeat;
        mask-position: center left;
        mask-size: contain;
        mask-image: url('https://api.iconify.design/solar:alt-arrow-down-outline.svg');
        background-color: var(--color-gray-90);
        transition: all 0.15s ease-in-out;
      }
    }

    a.collapse {
      transform: rotate(-180deg);
    }

    .pagenav-text {
      font-size: 0.9375rem;
      color: var(--color-gray-90);
    }
  }

  #filtersetslistbox {
    border: none;
    background-color: var(--color-gray-10);
  }
}

//res
@media screen and (max-width: 1200px) {
  #layout-list {
    .header {
      .menu.toolbar {
        display: none;
        visibility: hidden;

        .header-title {
          margin: 0 !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  //.layout-normal.touch 시 메일리스트 플래그 히든
  #layout-list table.messagelist {
    tr {
      &:hover {
        td {
          &.flags {
            .flag {
              visibility: hidden;

              > span.flagged,
              > span.unflagged {
                visibility: hidden;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
}
