#layout-sidebar {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .header-title {
      margin: 0 !important;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1;
      text-align: center;
      padding-left: 3rem;
      padding-right: 3rem;
    }

    a.button {
      position: absolute;
      right: 0.75rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  #folderlist-content {
    background-color: #e3ecff;
  }

  ul.folderlist {
    li {
      a {
        font-size: 0.9375rem;
        font-weight: 500;
        color: var(--color-gray-90);

        &::before {
          background-color: var(--color-gray-90);
          margin-right: 0.625rem;
        }
      }
    }

    &.treelist {
      li {
        border-bottom: none;
        padding: 0;

        a {
          padding: 0.625rem 1.25rem;
          display: flex;
          align-items: center;
        }

        &.selected {
          > a {
            background-color: #cbd5e18c;
          }
        }
      }
    }
  }
}

//responsive
@media screen and (max-width: 480.99px) {
}

@media screen and (max-width: 1024.99px) {
}
