body {
  background-color: var(--color-white);
}

#layout {
  letter-spacing: -0.02em;

  //컬럼 헤더 공통
  > div {
    > .header {
      height: 3.75rem;
      background-color: var(--color-bluegray-10);
      border-bottom: 1px solid var(--color-bluegray-30);
      align-items: center;
      column-gap: 0.5rem;
      padding: 0 0.75rem;
      margin: 0;

      .header-title {
        font-size: 1rem;
        font-weight: 600;
        color: var(--color-gray-90);
      }
    }
  }
}

#layout-sidebar {
  .header {
    .header-title {
      padding-left: 1.5rem;
    }
  }
}

//상단 툴바 스타일
.header {
  .menu.toolbar {
    display: flex;
    align-items: center;
    height: 100%;

    li {
      flex: none;
      height: 100%;

      a {
        //width: 100%;
        width: 4.25rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        background-color: transparent;
        transition: background-color 0.15s ease-in-out;

        &::before {
          margin-right: 0;
          background-color: var(--color-gray-90);
        }

        .inner {
          line-height: 1.3;
          margin-top: 0.25rem;
          font-size: 0.75rem;
          font-weight: 400;
          color: var(--color-gray-90);
        }

        &:not(.disabled):hover {
          background-color: #cbd5e18c;
        }
      }
    }

    .dropbutton {
      display: flex;
      height: 100%;
      position: relative;

      &:not(.disabled):hover {
        background-color: transparent;
      }

      .dropdown {
        width: 0.75rem;
        padding: 0;
      }
    }
  }

  // .button.icon {
  //   flex: none;
  //   width: 4.25rem;
  //   height: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  //   line-height: 1;
  //   padding: 0;
  //   background-color: transparent;
  //   transition: background-color 0.15s ease-in-out;

  //   &.icon:not(.disabled):hover {
  //     background-color: #cbd5e18c;
  //   }

  //   .inner {
  //     line-height: 1;
  //     margin-top: 0.3125rem;
  //     font-size: 0.75rem;
  //     font-weight: 400;
  //     color: var(--color-gray-90);
  //   }

  //   &::before {
  //     margin-right: 0;
  //     background-color: var(--color-gray-90);
  //     display: block !important;
  //     flex: none !important;
  //     width: 1.5rem !important;
  //     height: 1.5rem !important;
  //   }

  //   //데탑 숨김 버튼
  //   &.task-menu-button,
  //   &.back-sidebar-button,
  //   &.toolbar-menu-button,
  //   &.toolbar-list-button,
  //   &.back-list-button {
  //     display: none;

  //     &::before {
  //       display: block !important;
  //       width: 2rem;
  //       height: 2rem;
  //       flex: none;
  //     }
  //   }
  // }
}

//팝오버
.popover {
  border-color: var(--color-bluegray-30);
  box-shadow: 0 4px 16px -2px rgb(0 0 0 / 0.15);

  .popupmenu {
    min-width: 12.5rem;

    .menu,
    .listing {
      li {
        border-bottom-color: var(--color-gray-20);
        line-height: 1;

        a {
          color: var(--color-gray-90);
          border-left: 0;
          display: flex;
          align-items: center;
          padding: 0.75rem 0.875rem;
          line-height: 1;
          font-size: 0.9375rem;
          transition: background-color 0.17s ease-in-out;

          &::before {
            background-color: var(--color-gray-90);
            margin-right: 0.5rem;
            flex: none;
          }

          span {
            flex: 1;
          }

          &[aria-haspopup]::after {
            background-color: var(--color-gray-40);
            margin-left: 0.5rem;
            flex: none;
          }

          &:focus,
          &:not(.disabled):hover {
            border-left: 0;
            background-color: #cbd5e18c;
            color: var(--color-gray-90);
          }
        }
      }
    }

    .selectable.listing {
      li {
        a {
          &::before {
            background-color: transparent;
          }

          &.selected {
            &::before {
              background-color: var(--color-gray-90);
            }
          }
        }
      }
    }
  }

  &.select-menu {
    .selectable.listing {
      li {
        line-height: 1;

        a {
          color: var(--color-gray-90);
          border-left: 0;
          display: flex;
          align-items: center;
          padding: 0.75rem 0.875rem;
          line-height: 1;
          font-size: 0.9375rem;
          transition: background-color 0.17s ease-in-out;

          &:focus,
          &:not(.disabled):hover {
            background-color: #cbd5e18c;
          }

          &::before {
            background-color: transparent;
            content: '';
            display: block;
            width: 1.125rem;
            height: 1.125rem;
          }

          &.selected {
            border-left: 0;
            background-color: transparent;

            &::before {
              background-color: var(--color-gray-90);
            }
          }
        }
      }
    }
  }

  .menu.listing.iconized.popupmenu {
    > li {
      border-bottom-color: var(--color-gray-20);
      line-height: 1;

      a {
        color: var(--color-gray-90);
        border-left: 0;
        display: flex;
        align-items: center;
        padding: 0.75rem 0.875rem;
        line-height: 1;
        font-size: 0.9375rem;
        transition: background-color 0.17s ease-in-out;

        &::before {
          background-color: var(--color-gray-90);
          margin-right: 0.5rem;
          flex: none;
        }

        span {
          flex: 1;
        }

        &[aria-haspopup]::after {
          background-color: var(--color-gray-40);
          margin-left: 0.5rem;
          flex: none;
        }

        &:focus,
        &:not(.disabled):hover {
          border-left: 0;
          background-color: #cbd5e18c;
          color: var(--color-gray-90);
        }
      }
    }
  }
}

//responsive
@media screen and (max-width: 1200px) {
  //메일목록
  #layout-list .header {
    .button.icon {
      &:hover {
        background-color: transparent;
      }

      &.task-menu-button,
      &.back-sidebar-button,
      &.toolbar-menu-button,
      &.toolbar-list-button,
      &.toolbar-button,
      &.back-list-button {
        display: block;
        width: 1.75rem !important;
        height: 1.75rem !important;
        padding: 0;
        margin: 0;

        > .innder {
          display: none;
        }

        &::before {
          width: 1.75rem !important;
          height: 1.75rem !important;
          mask-repeat: no-repeat !important;
          mask-position: center !important;
          mask-size: contain !important;
          background-color: var(--color-bluegray-50);
        }
      }

      &.toolbar-menu-button,
      &.task-menu-button {
        display: none;
      }
    }
  }

  //편지함 폴더
  #layout-sidebar .header {
    .header-title {
      padding-left: 0;
    }

    .button.icon {
      &:hover {
        background-color: transparent;
      }

      &.back-list-button {
        display: block;
        width: 1.75rem !important;
        height: 1.75rem !important;
        padding: 0;
        margin: 0;

        > .innder {
          display: none;
        }

        &::before {
          width: 1.75rem !important;
          height: 1.75rem !important;
          mask-repeat: no-repeat !important;
          mask-position: center !important;
          mask-size: contain !important;
          background-color: var(--color-bluegray-50);
        }
      }
    }
  }
}

@media screen and (max-width: 1024.99px) {
}

@media screen and (max-width: 768px) {
  //메일목록
  #layout-list .header {
    .button.icon {
      &.toolbar-list-button {
        display: none;
      }

      &.toolbar-menu-button,
      &.task-menu-button {
        display: block;
      }
    }
  }

  //편지함 폴더
  #layout-sidebar .header {
    .button.icon {
    }
  }
}

@media screen and (max-width: 480.99px) {
}
