//모바일 GNB
html.layout-phone {
  #layout-menu.popover {
    .popover-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 5.25rem;
      padding: 1rem !important;

      #logo {
        width: 3.25rem;
        height: 3.25rem;
      }

      a.button.icon.cancel {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: none;

        &::before {
          content: '';
          display: block;
          flex: none;
          width: 1.75rem;
          height: 1.75rem;
          mask-repeat: no-repeat;
          mask-position: center left;
          mask-size: contain;
          mask-image: url('https://api.iconify.design/solar:close-circle-outline.svg');
          background-color: var(--color-white);
          margin: 0;
        }
      }
    }

    #taskmenu {
      margin-top: 1.5rem;
      a {
        border-bottom: none !important;
        height: 3.75rem;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-left: 1rem;
        padding-right: 1rem;

        &::before {
          width: 1.75rem;
          height: 1.75rem;
          margin-right: 0.75rem;
        }

        .inner {
          font-size: 0.9375rem;
          font-weight: 500;
        }
      }
    }
  }
}

//모바일, 스몰 기능 메뉴바
html.layout-phone,
html.layout-small {
  .popover:not(.select-menu) {
    .popover-header {
      height: 3.75rem;
      padding: 0 1rem;
      display: flex;
      background-color: var(--color-primary-50);

      a.button.icon {
        display: flex;
        align-items: center;
        flex: none;
        font-size: 0.9375rem;
        font-weight: 600;

        &::before {
          content: '';
          display: block;
          width: 1.75rem;
          height: 1.75rem;
          mask-repeat: no-repeat;
          mask-position: center left;
          mask-size: contain;
          background-color: var(--color-white);
          margin-right: 0.75rem;
        }

        &.cancel {
          &::before {
            mask-image: url('https://api.iconify.design/solar:close-circle-outline.svg');
          }
        }

        &.back {
          &::before {
            mask-image: url('https://api.iconify.design/solar:alt-arrow-left-outline.svg');
          }
        }
      }
    }

    .popover-body {
      .selectable {
        li {
          border-bottom: none;
        }
      }
      .menu.listing.iconized.popupmenu,
      .menu {
        li {
          border-bottom: none;

          a {
            height: 3.5rem;
            font-size: 0.9375rem;
            padding-left: 1rem;
            padding-right: 0.625rem;

            &::before {
              width: 1.5rem !important;
              height: 1.5rem !important;
              margin-right: 0.75rem;
            }

            &::after {
              width: 1.5rem;
              height: 1.5rem;
              background-color: var(--color-gray-90);
              margin: 0;
            }

            .inner {
              font-size: 0.9375rem;
            }

            //모바일쪽만 아이콘 모음
            &.reply::before {
              //회신
              mask-image: url('https://api.iconify.design/solar:reply-outline.svg');
            }

            &.reply-all::before {
              //전체회신
              mask-image: url('https://api.iconify.design/solar:multiple-forward-left-outline.svg');
            }

            &.forward::before {
              //전달
              mask-image: url('https://api.iconify.design/solar:forward-outline.svg');
            }

            &.junk::before {
              //스팸편지함
              mask-image: url('https://api.iconify.design/solar:forbidden-circle-outline.svg');
            }

            &.markmessage::before {
              //표시
              mask-image: url('https://api.iconify.design/solar:tag-outline.svg');
            }

            &.more::before {
              //더보기
              mask-image: url('https://api.iconify.design/solar:menu-dots-bold.svg');
            }

            &.save::before {
              //저장
              mask-image: url('https://api.iconify.design/solar:diskette-outline.svg');
            }

            &.signature::before {
              //서명
              mask-image: url('https://api.iconify.design/solar:corkscrew-outline.svg');
            }

            &.responses::before {
              //응답
              mask-image: url('https://api.iconify.design/solar:chat-round-line-outline.svg');
            }

            &.spellcheck::before {
              //맞춤법
              mask-image: url('https://api.iconify.design/solar:sort-by-alphabet-outline.svg');
            }

            &.export::before {
              //내보내기
              mask-image: url('https://api.iconify.design/solar:download-outline.svg');
            }

            &.actions::before {
              //액션
              mask-image: url('https://api.iconify.design/solar:plaaylist-minimalistic-outline.svg');
            }
          }

          .dropbutton {
            align-items: center;

            a:not(.dropdown) {
              flex: 1;
            }

            a.dropdown {
              width: auto;
              flex: none;
              padding: 0 0.625rem;
              background-color: transparent;

              &::after {
                content: none;
              }

              &::before {
                width: 1.5rem;
                height: 1.5rem;
                background-color: var(--color-gray-90);
                margin: 0;
                margin-right: 0 !important;
                display: block;
                mask-repeat: no-repeat;
                mask-position: center left;
                mask-size: contain;
                background-color: var(--color-gray-90);
                mask-image: url('https://api.iconify.design/solar:alt-arrow-right-outline.svg');
              }
            }
          }
        }
      }
    }
  }
}

//모바일 하단 푸터
@media screen and (max-width: 768px) {
  #layout .footer.menu {
    height: 3.75rem;
    background-color: var(--color-bluegray-10);
    border-top: 1px solid var(--color-bluegray-30);
    align-items: center;
    padding: 0;

    .buttons {
      //가운데 스팬
    }

    a.button {
      width: 4.25rem;
      height: 100%;
      flex: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: background-color 0.15s ease-in-out;

      &:focus,
      &:active {
        background-color: var(--color-bluegray-30);
      }

      &::before {
        content: '';
        flex: none;
        margin: 0;
        width: 1.5rem;
        height: 1.5rem;
        mask-repeat: no-repeat;
        mask-position: center left;
        mask-size: contain;
        background-color: var(--color-bluegray-50);
      }

      .inner {
        line-height: 1;
        margin-top: 0.3125rem;
        font-size: 0.75rem;
        font-weight: 400;
        color: var(--color-bluegray-50);
      }

      //하단 아이콘들
      &.send {
        //보내기
        &::before {
          mask-image: url('https://api.iconify.design/solar:plain-2-outline.svg');
        }
      }

      &.save {
        //저장
        &::before {
          mask-image: url('https://api.iconify.design/solar:diskette-outline.svg');
        }
      }

      &.prev::before {
        mask-image: url('https://api.iconify.design/solar:alt-arrow-left-outline.svg');
      }

      &.next::before {
        mask-image: url('https://api.iconify.design/solar:alt-arrow-right-outline.svg');
      }

      &.reply::before {
        mask-image: url('https://api.iconify.design/solar:reply-outline.svg');
      }

      &.submit {
        &::before {
          mask-image: url('https://api.iconify.design/solar:check-circle-outline.svg');
        }
      }

      &.edit::before {
        mask-image: url('https://api.iconify.design/solar:pen-outline.svg');
      }
    }
  }
}

//설정 > 메일분류 > 동작편집 상세 > 버튼셋
@media screen and (max-width: 576px) {
  .propform table.compact-table tr td.rowbuttons {
    text-align: right;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .formcontainer.task-settings .compact-table tr td.rowbuttons > a {
    width: fit-content;
  }
}

//컨텐츠 패딩 영역 모바일, 탭도 동일 변동
@media screen and (max-width: 768px) {
  //폼 컨텐츠 패딩 간격 공통
  .formcontainer.content,
  .formcontainer.task-settings,
  .formcontainer.task-addressbook {
    .formcontent {
      padding: 1rem;
    }

    .formbuttons {
      padding: 0.5rem 1rem;
    }
  }

  .task-addressbook {
    .nav-tabs {
      margin-left: -1rem;
      margin-right: -1rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

//작사, 모바일 셀렉트 목록 수정
html.layout-phone,
html.layout-small {
  .popover.select-menu {
    .popover-header {
      height: 2.625rem;
      min-height: 0;
      line-height: 1;
      padding: 0 1;
      display: flex;
      align-items: center;
      background-color: var(--color-primary-50);

      a.button.icon.cancel {
        font-size: 0.9375rem;
        flex: 1;
        display: flex;
        align-items: center;

        &::before {
          content: '';
          flex: none;
          width: 1.125rem;
          height: 1.125rem;
          margin-right: 0.5rem;
          mask-repeat: no-repeat;
          mask-position: center;
          mask-size: contain;
          background-color: var(--color-white);
          mask-image: url('https://api.iconify.design/solar:close-circle-outline.svg');
        }
      }
    }
  }
}

//목록 아이콘 중 세로중앙 조정이 필요한 영역 수정
@media screen and (max-width: 1024px) {
  //설정 > 응답 > 응답목록
  //연락처 사람 아이콘
  #layout-list #identities-table tr td::before,
  #layout-list #responses-table tr td::before,
  #layout-list #filtersetslistbox tr td::before,
  #layout-list #filterslist tr td::before,
  #layout-list #keys-table tr td::before {
    top: 11px;
  }
  #contacts-table tr td.contactgroup::before,
  #contacts-table tr td.contact::before {
    top: 12px;
  }
}

//모바일 전체 모달 스타일
@media screen and (max-width: 480px) {
  .ui-dialog {
    border-radius: 0;

    .ui-dialog-titlebar {
      border-radius: 0;
      height: 3.75rem;
      background-color: var(--color-bluegray-10);
      border-bottom: 1px solid var(--color-bluegray-30);

      .ui-dialog-title {
        font-size: 1rem;
        font-weight: 700;
        color: var(--color-gray-90);
      }
    }

    .ui-dialog-buttonpane {
      height: 3.75rem;
      background-color: var(--color-bluegray-10);
      border-top: 1px solid var(--color-bluegray-30);

      .ui-dialog-buttonset {
        button {
          width: 4.25rem;
          height: 100%;
          flex: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transition: background-color 0.15s ease-in-out;
          font-size: 0.75rem;
          font-weight: 400;
          color: var(--color-bluegray-50);
          row-gap: 5px;

          .btn-primary,
          .btn-secondary {
            &:hover {
              background-color: transparent;
            }
          }

          &:focus,
          &:active {
            background-color: var(--color-bluegray-30);
          }

          &::before {
            content: '';
            flex: none;
            margin: 0;
            width: 1.5rem;
            height: 1.5rem;
            mask-repeat: no-repeat;
            mask-position: center left;
            mask-size: contain;
            background-color: var(--color-bluegray-50);
          }
        }
      }
    }
  }
}

//GNB 없음 1단
html.layout-phone {
}
//GNB 아주 작게, 2단
html.layout-small {
}

//GNB 아주 작게, 3단
html.layout-normal.touch {
}

//GNB, 3단
html.layout-normal {
}

//GNB, 4단
html.layout-large {
}
