//모바일 GNB
html.layout-phone {
  #layout-menu.popover {
    .popover-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 5.25rem;
      padding: 1rem !important;

      #logo {
        width: 3.25rem;
        height: 3.25rem;
      }

      a.button.icon.cancel {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: none;

        &::before {
          content: '';
          display: block;
          flex: none;
          width: 1.75rem;
          height: 1.75rem;
          mask-repeat: no-repeat;
          mask-position: center left;
          mask-size: contain;
          mask-image: url('https://api.iconify.design/solar:close-circle-outline.svg');
          background-color: var(--color-white);
          margin: 0;
        }
      }
    }

    #taskmenu {
      margin-top: 1.5rem;
      a {
        border-bottom: none !important;
        height: 3.75rem;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-left: 1rem;
        padding-right: 1rem;

        &::before {
          width: 1.75rem;
          height: 1.75rem;
          margin-right: 0.75rem;
        }

        .inner {
          font-size: 0.9375rem;
          font-weight: 500;
        }
      }
    }
  }
}

//모바일, 스몰 기능 메뉴바
html.layout-phone,
html.layout-small {
  .popover:not(.select-menu) {
    .popover-header {
      height: 3.75rem;
      padding: 0 1rem;
      display: flex;
      background-color: var(--color-primary-50);

      a.button.icon {
        display: flex;
        align-items: center;
        flex: none;
        font-size: 0.9375rem;
        font-weight: 600;

        &::before {
          content: '';
          display: block;
          width: 1.75rem;
          height: 1.75rem;
          mask-repeat: no-repeat;
          mask-position: center left;
          mask-size: contain;
          background-color: var(--color-white);
          margin-right: 0.75rem;
        }

        &.cancel {
          &::before {
            mask-image: url('https://api.iconify.design/solar:close-circle-outline.svg');
          }
        }

        &.back {
          &::before {
            mask-image: url('https://api.iconify.design/solar:alt-arrow-left-outline.svg');
          }
        }
      }
    }

    .popover-body {
      .menu {
        li {
          border-bottom: none;

          a {
            height: 3.5rem;
            font-size: 0.9375rem;
            padding-left: 1rem;

            &::before {
              width: 1.5rem !important;
              height: 1.5rem !important;
              margin-right: 0.75rem;
            }

            .inner {
              font-size: 0.9375rem;
            }
          }

          .dropbutton {
          }
        }
      }
    }
  }
}

//모바일 하단 푸터
@media screen and (max-width: 768px) {
  #layout .footer.menu {
    height: 3.75rem;
    background-color: var(--color-bluegray-10);
    border-top: 1px solid var(--color-bluegray-30);
  }
}

//GNB 없음 1단
html.layout-phone {
}
//GNB 아주 작게, 2단
html.layout-small {
}

//GNB 아주 작게, 3단
html.layout-normal.touch {
}

//GNB, 3단
html.layout-normal {
}

//GNB, 4단
html.layout-large {
}
