//GNB 없음 1단
html.layout-phone {
  //GNB
  #layout-menu.popover {
    .popover-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 5.25rem;
      padding: 1rem !important;

      #logo {
        width: 3.25rem;
        height: 3.25rem;
      }

      a.button.icon.cancel {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: none;

        &::before {
          content: '';
          display: block;
          width: 1.75rem;
          height: 1.75rem;
          mask-repeat: no-repeat;
          mask-position: center left;
          mask-size: contain;
          mask-image: url('https://api.iconify.design/solar:close-circle-outline.svg');
          background-color: var(--color-white);
        }
      }
    }

    #taskmenu {
      margin-top: 1.5rem;
      a {
        border-bottom: none !important;
        height: 3.75rem;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-right: 0.75rem;

        &::before {
          width: 1.75rem;
          height: 1.75rem;
        }

        .inner {
          font-size: 0.9375rem;
          font-weight: 500;
        }
      }
    }
  }
}

//GNB 아주 작게, 2단
html.layout-small {
}

//GNB 아주 작게, 3단
html.layout-normal.touch {
}

//GNB, 3단
html.layout-normal {
}

//GNB, 4단
html.layout-large {
}
