//버튼
a.btn,
button.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border-radius: 0.25rem;
  height: 2.5rem;
  padding: 0.25rem 0.75rem;
  column-gap: 0.375rem;

  &.disabled {
    background-color: var(--color-primary-20);
    //pointer-events: none;
  }

  &::before,
  &::after {
    margin: 0;
    display: block;
    width: 1.125rem;
    height: 1.125rem;
  }

  &:active,
  &:focus,
  &:hover {
    box-shadow: none;
    outline: none;
  }

  &.btn-primary {
    background-color: var(--color-primary-50);
    border-color: var(--color-primary-50);

    &:not(.disabled) {
      &:active,
      &:focus,
      &:hover {
        background-color: var(--color-primary-60);
        border-color: var(--color-primary-60);
      }
    }
  }

  &.btn-lg {
    border-radius: 0.5rem;
    height: 3.5rem;
    padding: inherit;

    &::before,
    &::after {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

//스위치
.custom-switch {
  position: relative;

  .custom-control-input {
    position: absolute;
    visibility: hidden;
    display: none;
    top: 0;
    left: 0;

    &:checked ~ .custom-control-label {
      &::before {
        //border-color: var(--color-primary-50);
        background-color: var(--color-primary-50);
      }

      &::after {
        transform: translate(0.75rem, -50%);
      }
    }
  }

  .custom-control-label {
    padding-left: 2.375rem;
    position: relative;
    line-height: 1 !important;
    display: flex;
    align-items: center;

    &::before {
      width: 2rem;
      height: 1.25rem;
      border: none;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      margin: 0;
      border-radius: 3rem;
      background-color: var(--color-gray-30);
      transition: all 0.15s ease-in-out;
    }

    &::after {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      border: none;
      position: absolute;
      left: 0.125rem;
      top: 50%;
      transform: translate(0, -50%);
      margin: 0;
      background-color: var(--color-white);
    }
  }
}
