#layout {
  > div {
    > .header {
      height: 3.75rem;
      background-color: var(--color-bluegray-10);
      border-bottom: 1px solid var(--color-bluegray-30);
    }
  }
}

#layout-menu {
}

//responsive
@media screen and (min-width: 481px) {
  #layout-menu {
    //width: 2.75rem;
    background-color: var(--color-primary-50);
  }
}

@media screen and (min-width: 1025px) {
  #layout-menu {
    //width: 5rem;
  }
}
