#layout {
  > div {
    > .header {
      height: 3.75rem;
      background-color: var(--color-bluegray-10);
      border-bottom: 1px solid var(--color-bluegray-30);
    }
  }
}

#layout-menu {
  background-color: var(--color-primary-50);

  #taskmenu {
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 0.375rem;
      height: 5rem;
      color: var(--color-white);
      padding: 0;
      margin: 0;
      transition: background-color 0.15s ease-in-out;

      &::before {
        content: '';
        display: block;
        flex: none;
        background-color: var(--color-white);
        width: 1.75rem;
        height: 1.75rem;
        margin: 0;
      }

      span.inner {
        font-size: 0.8125rem;
        font-weight: 600;
        line-height: 1;
        color: var(--color-white);
      }

      &.selected {
        background-color: rgb(0 0 0 / 0.25);
      }

      &:hover {
        background-color: inherit;

        &::before {
          background-color: var(--color-yellow);
        }

        span.inner {
          color: var(--color-yellow);
        }
      }
    }
  }
}

//responsive

@media screen and (max-width: 480.99px) {
}

@media screen and (max-width: 1024.99px) {
}
