.task-login {
  #layout {
    align-items: center;
    justify-content: center;
  }

  > #layout-content {
    width: auto;

    .layout-content-items {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  #logo {
    width: 9.875rem;
    margin-bottom: 2.125rem;
  }

  #logo-text {
    font-size: 1rem;
    margin-top: 0.75rem;
  }
}

//responsive
@media screen and (min-width: 481px) {
  .task-login {
    #logo {
      width: 11.875rem;
    }

    #logo-text {
      font-size: 1rem;
      margin-top: 0.75rem;
    }
  }
}
