.task-login {
  #layout {
    align-items: center;
    justify-content: center;
  }

  > #layout-content {
    width: auto;
  }

  .layout-content-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
  }

  #logo {
    width: 9.875rem !important;
    margin-bottom: 2.125rem;
  }

  #logo-text-img {
    width: 15.375rem !important;
  }

  #logo-text {
    font-size: 1rem;
    margin-top: 0.75rem;
  }

  .formbuttons {
    font-size: 1rem;
    font-weight: 600;
    height: 3.5rem;
  }

  #login-form {
    max-width: 22.25rem;
    width: calc(100% - 5rem);

    .form-group {
      margin-bottom: 0.75rem;
    }

    .input-group {
      border-radius: 0.5rem;
      border: 1px solid var(--color-gray-30);
      height: 3.5rem;
      transition: outline 0.15s ease-in-out;

      &:has(.form-control:focus) {
        border-color: transparent;
        outline: 2px solid var(--color-primary-50);
      }

      .input-group-text {
        background-color: transparent;
        border: none;
      }

      .form-control {
        border: none;
        height: 100%;
        padding-left: 0;
        box-shadow: none;
        font-size: 1rem;
      }
    }
  }

  .input-group .icon.user {
    &::before {
      content: '';
      mask-image: url('https://api.iconify.design/solar:letter-linear.svg');
      background-color: var(--color-gray-50);
    }
  }

  .input-group .icon.pass {
    &::before {
      content: '';
      mask-image: url('https://api.iconify.design/solar:key-minimalistic-outline.svg');
      background-color: var(--color-gray-50);
    }
  }
}

//responsive
@media screen and (min-width: 481px) {
  .task-login {
    #logo {
      width: 11.875rem !important;
      margin-bottom: 2.5rem;
    }

    #logo-text-img {
      width: 18.5rem !important;
    }

    #logo-text {
      font-size: 1.25rem;
      margin-top: 0.75rem;
    }
  }
}
