.task-login {
  #layout {
    align-items: center;
    justify-content: center;
  }

  > #layout-content {
    width: auto;
  }

  .layout-content-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
  }

  #logo {
    width: 9.875rem !important;
    margin-bottom: 2.125rem;
  }

  #logo-text {
    font-size: 1rem;
    margin-top: 0.75rem;
  }
  .formbuttons {
    font-size: 1rem;
    font-weight: 600;
  }
}

//responsive
@media screen and (min-width: 481px) {
  .task-login {
    #logo {
      width: 11.875rem !important;
      margin-bottom: 2.5rem;
    }

    #logo-text {
      font-size: 1rem;
      margin-top: 0.75rem;
    }
  }
}
