:root {
  --color-primary-50: #256ef4; //blue50 동일
  --color-primary-60: #1f54e7;

  --color-gray-90: #171717;
  --color-gray-60: #525252;
  --color-gray-50: #737373;
  --color-gray-30: #d4d4d4;
  --color-gray-20: #e5e5e5;

  --color-bluegray-10: #f1f5f9;
  --color-bluegray-30: #cbd5e1;
  --color-bluegray-50: #64748b;

  --color-white: #fff;
  --color-black: #000;

  --color-yellow: #fffc51;
}

.btn-primary {
  background-color: var(--color-primary-50);
  border-color: var(--color-primary-50);

  &:hover {
    background-color: var(--color-primary-60);
    border-color: var(--color-primary-60);
  }
}

.btn-lg {
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
}
