:root {
  --color-primary-50: #256ef4; //blue50 동일
  --color-primary-60: #1f54e7;

  --color-gray-90: #171717;
  --color-gray-60: #525252;
  --color-gray-50: #737373;
  --color-gray-40: #a3a3a3;
  --color-gray-30: #d4d4d4;
  --color-gray-20: #e5e5e5;
  --color-gray-10: #f5f5f5;

  --color-bluegray-10: #f1f5f9;
  --color-bluegray-30: #cbd5e1;
  --color-bluegray-50: #64748b;

  --color-white: #fff;
  --color-black: #000;

  --color-yellow: #fffc51;
}

//버튼
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border-radius: 0.25rem;
  height: 2.5rem;
  padding: 0.25rem 0.75rem;
  column-gap: 0.375rem;

  &.btn-primary {
    background-color: var(--color-primary-50);
    border-color: var(--color-primary-50);

    &:active,
    &:focus,
    &:hover {
      background-color: var(--color-primary-60);
      border-color: var(--color-primary-60);
      outline: none;
    }
  }

  &.btn-lg {
    border-radius: 0.5rem;
    height: 3.5rem;
    padding: inherit;
  }
}

//스위치
.custom-switch {
  position: relative;

  .custom-control-input {
    position: absolute;
    visibility: hidden;
    display: none;
    top: 0;
    left: 0;

    &:checked ~ .custom-control-label {
      &::before {
        //border-color: var(--color-primary-50);
        background-color: var(--color-primary-50);
      }

      &::after {
        transform: translate(0.75rem, -50%);
      }
    }
  }

  .custom-control-label {
    padding-left: 2.375rem;
    position: relative;
    line-height: 1 !important;
    display: flex;
    align-items: center;

    &::before {
      width: 2rem;
      height: 1.25rem;
      border: none;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      margin: 0;
      border-radius: 3rem;
      background-color: var(--color-gray-30);
      transition: all 0.15s ease-in-out;
    }

    &::after {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      border: none;
      position: absolute;
      left: 0.125rem;
      top: 50%;
      transform: translate(0, -50%);
      margin: 0;
      background-color: var(--color-white);
    }
  }
}
